@model ThieuHoa.Models.DonHang

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DonHang</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!--<div class="form-group">
        <label asp-for="Date" class="control-label"></label>
        <input asp-for="Date" class="form-control" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
    <div class="form-group">-->
            @*<label asp-for="MuaLai" class="control-label"></label>*@
            <!--<select asp-for="MuaLai" asp-items="@ViewBag.MuaLaiList">
        </select>
        <span asp-validation-for="MuaLai" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Nguon" class="control-label"></label>
        <select asp-for="Nguon" asp-items="@ViewBag.NguonHangList">
        </select>-->
            @*<input asp-for="Nguon" class="form-control" />*@
            <!--<span asp-validation-for="Nguon" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="HoVaTen" class="control-label"></label>
        <input asp-for="HoVaTen" class="form-control" />
        <span asp-validation-for="HoVaTen" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DiaChi" class="control-label"></label>
        <input asp-for="DiaChi" class="form-control" />
        <span asp-validation-for="DiaChi" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Size" class="control-label"></label>-->
            @*<input asp-for="Size" class="form-control" />*@
            <!--<select asp-for="Size" asp-items="@ViewBag.SizeList">
        </select>
        <span asp-validation-for="Size" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Mau" class="control-label"></label>
        <input asp-for="Mau" class="form-control" />
        <span asp-validation-for="Mau" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MaSP" class="control-label"></label>
        <input asp-for="MaSP" class="form-control" />
        <span asp-validation-for="MaSP" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="GiaSanPham" class="control-label"></label>
        <input asp-for="GiaSanPham" class="form-control" />
        <span asp-validation-for="GiaSanPham" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ThanhTien" class="control-label"></label>
        <input asp-for="ThanhTien" class="form-control" />
        <span asp-validation-for="ThanhTien" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TrangThai" class="control-label"></label>-->
            @*<input asp-for="TrangThai" class="form-control" />*@
            <!--<select asp-for="TrangThai" asp-items="@ViewBag.TrangThaiList">
        </select>
        <span asp-validation-for="TrangThai" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LuuYGiaoHang" class="control-label"></label>
        <input asp-for="LuuYGiaoHang" class="form-control" />
        <span asp-validation-for="LuuYGiaoHang" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SDT" class="control-label"></label>
        <input asp-for="SDT" class="form-control" />
        <span asp-validation-for="SDT" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SL" class="control-label"></label>
        <input asp-for="SL" class="form-control" />
        <span asp-validation-for="SL" class="text-danger"></span>
    </div>-->
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="MuaLai" class="control-label"></label>*@
                <select asp-for="MuaLai" asp-items="@ViewBag.MuaLaiList">
                </select>
                <span asp-validation-for="MuaLai" class="text-danger"></span>
            </div>
            <!--<div class="form-group">
        <label asp-for="Nguon" class="control-label"></label>
        <select asp-for="Nguon" asp-items="@ViewBag.CuaHangId">
        </select>-->
            @*<input asp-for="Nguon" class="form-control" />*@
            <!--<span asp-validation-for="Nguon" class="text-danger"></span>
    </div>-->
            <div class="form-group">
                <label asp-for="CuaHangId" class="control-label"></label>
                <select asp-for="CuaHangId" class="form-control" asp-items="ViewBag.CuaHangId"></select>
            </div>
            <div class="form-group">
                <label asp-for="NhanVienId" class="control-label"></label>
                <select asp-for="NhanVienId" class="form-control" asp-items="ViewBag.NhanVienId"></select>
            </div>
            <div class="form-group">
                <label asp-for="KhachHangId" class="control-label"></label>
                <select asp-for="KhachHangId" class="form-control" asp-items="ViewBag.KhachHangId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SanPhamId" class="control-label"></label>
                <select asp-for="SanPhamId" class="form-control" asp-items="ViewBag.SanPhamId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SL" class="control-label"></label>
                <input asp-for="SL" class="form-control" />
                <span asp-validation-for="SL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrangThai" class="control-label"></label>
                @*<input asp-for="TrangThai" class="form-control" />*@
                <select asp-for="TrangThai" asp-items="@ViewBag.TrangThaiList">
                </select>
                <span asp-validation-for="TrangThai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LuuYGiaoHang" class="control-label"></label>
                <input asp-for="LuuYGiaoHang" class="form-control" />
                <span asp-validation-for="LuuYGiaoHang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
