@model ThieuHoa.Models.TongHop

@{ ViewData["Title"] = "Index"; }

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="DonHangs" asp-action="Index" method="get">
    <p>
        <select asp-items="@ViewBag.TimeRangeList" name="TimeRange">
        </select>
        <input type="submit" value="Lọc Thời Gian" />
    </p>
</form>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(item => item.PhanTich.ARPU)
                </th>
                <th>
                    @Html.DisplayNameFor(item => item.PhanTich.TongRE)
                </th>
                <th>
                    @Html.DisplayNameFor(item => item.PhanTich.KhachMoiRE)
                </th>
                <th>
                    @Html.DisplayNameFor(item => item.PhanTich.QuayLaiRE)
                </th>
                <th>
                    @Html.DisplayNameFor(item => item.PhanTich.L9ARPU)
                </th>
                <th>
                    @Html.DisplayNameFor(item => item.PhanTich.L1)
                </th>
                <th>
                    @Html.DisplayNameFor(item => item.PhanTich.L7)
                </th>
                <th>
                    @Html.DisplayNameFor(item => item.PhanTich.L9)
                </th>
                <th>
                    @Html.DisplayNameFor(item => item.PhanTich.L7L1)
                </th>
                <th>
                    @Html.DisplayNameFor(item => item.PhanTich.L9L7)
                </th>
                <th>
                    @Html.DisplayNameFor(item => item.PhanTich.LenSapo)
                </th>
                <th>
                    @Html.DisplayNameFor(item => item.PhanTich.TyLeSapo)
                </th>
                <th>
                    @Html.DisplayNameFor(item => item.PhanTich.SoLuongSP)
                </th>
                <th>
                    @Html.DisplayNameFor(item => item.PhanTich.TyLeSPL7)
                </th>
                <th>
                    @Html.DisplayNameFor(item => item.PhanTich.KhachHuy)
                </th>
                <th>
                    @Html.DisplayNameFor(item => item.PhanTich.TyLeKhachHuy)
                </th>
                <th>
                    @Html.DisplayNameFor(item => item.PhanTich.TrungDon)
                </th>
                <th>
                    @Html.DisplayNameFor(item => item.PhanTich.TyLeTrungDon)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(item => item.PhanTich.ARPU)
                </td>
                <td>
                    @Html.DisplayFor(item => item.PhanTich.TongRE)
                </td>
                <td>
                    @Html.DisplayFor(item => item.PhanTich.KhachMoiRE)
                </td>
                <td>
                    @Html.DisplayFor(item => item.PhanTich.QuayLaiRE)
                </td>
                <td>
                    @Html.DisplayFor(item => item.PhanTich.L9ARPU)
                </td>
                <td>
                    @Html.DisplayFor(item => item.PhanTich.L1)
                </td>
                <td>
                    @Html.DisplayFor(item => item.PhanTich.L7)
                </td>
                <td>
                    @Html.DisplayFor(item => item.PhanTich.L9)
                </td>
                <td>
                    @Html.DisplayFor(item => item.PhanTich.L7L1)
                </td>
                <td>
                    @Html.DisplayFor(item => item.PhanTich.L9L7)
                </td>
                <td>
                    @Html.DisplayFor(item => item.PhanTich.LenSapo)
                </td>
                <td>
                    @Html.DisplayFor(item => item.PhanTich.TyLeSapo)
                </td>
                <td>
                    @Html.DisplayFor(item => item.PhanTich.SoLuongSP)
                </td>
                <td>
                    @Html.DisplayFor(item => item.PhanTich.TyLeSPL7)
                </td>
                <td>
                    @Html.DisplayFor(item => item.PhanTich.KhachHuy)
                </td>
                <td>
                    @Html.DisplayFor(item => item.PhanTich.TyLeKhachHuy)
                </td>
                <td>
                    @Html.DisplayFor(item => item.PhanTich.TrungDon)
                </td>
                <td>
                    @Html.DisplayFor(item => item.PhanTich.TyLeTrungDon)
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DonHangs[0].Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DonHangs[0].Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DonHangs[0].MuaLai)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DonHangs[0].Nguon)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DonHangs[0].HoVaTen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DonHangs[0].DiaChi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DonHangs[0].Size)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DonHangs[0].Mau)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DonHangs[0].MaSP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DonHangs[0].GiaSanPham)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DonHangs[0].ThanhTien)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DonHangs[0].TrangThai)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DonHangs[0].LuuYGiaoHang)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DonHangs[0].SDT)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DonHangs[0].SL)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DonHangs)
            {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MuaLai)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Nguon)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.HoVaTen)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DiaChi)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Size)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Mau)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MaSP)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.GiaSanPham)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ThanhTien)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TrangThai)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LuuYGiaoHang)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SDT)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SL)
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
    </td>
</tr>
}
        </tbody>
    </table>
</body>
