@@include('./partial/head.html', {
	"title": "Full Width", 
	"css": [
]})
	<!-- BEGIN #app -->
	<div id="app" class="app app-content-full-width">
		@@include('./partial/header.html')
		
		<!-- BEGIN #content -->
		<div id="content" class="app-content">
			<ul class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">LAYOUT</a></li>
				<li class="breadcrumb-item active">FULL WIDTH</li>
			</ul>
			
			<h1 class="page-header">
				Full Width <small>page header description goes here...</small>
			</h1>
			
			<hr class="mb-4" />
			
			<p>
				Add the <code>.app-content-full-width</code> css class to <code>.app</code> container for full width page setting.
			</p>
			
			<div class="hljs-container rounded mb-3">
				<pre><code class="xml">&lt;div id="app" class="app app-content-full-width"&gt;
  ...
&lt;/div&gt;</code></pre>
			</div>
			
			<p>
				<a href="javascript:history.back(-1);" class="btn btn-default"><i class="fa fa-chevron-left fa-fw ms-n1"></i> Back to previous Page</a>
			</p>
		</div>
		<!-- END #content -->
		
		@@include('./partial/scroll-top-btn.html')
	</div>
	<!-- END #app -->
	
@@include('./partial/script.html', {"script": [
	"assets/plugins/highlight.js/highlight.min.js",
	"assets/js/demo/highlightjs.demo.js"
]})