@@include('./partial/head.html', {
	"title": "Full Height", 
	"css": [
]})
	<!-- BEGIN #app -->
	<div id="app" class="app app-content-full-height">
		@@include('./partial/header.html')
		
		@@include('./partial/sidebar.html', {"layoutClass": "active", "fullHeightClass": "active"})
		
		<!-- BEGIN #content -->
		<div id="content" class="app-content" data-scrollbar="true" data-height="100%" data-skip-mobile="true">
			<ul class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">LAYOUT</a></li>
				<li class="breadcrumb-item active">FULL HEIGHT</li>
			</ul>
			
			<h1 class="page-header">
				Full Height <small>page header description goes here...</small>
			</h1>
			
			<hr class="mb-4" />
			
			<p>
				Add the <code>.app-content-full-height</code> css class to <code>.app</code> container for full height page setting.
			</p>
			
			<div class="hljs-container rounded mb-3">
				<pre><code class="xml">&lt;div id="app" class="app  app-content-full-height"&gt;
  ...
&lt;/div&gt;</code></pre>
			</div>
			
			<div>
				Content Area with scrollbar. Try to scroll down. <i class="fa fa-arrow-down text-primary"></i>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				You got the bottom
			</div>
		</div>
		<!-- END #content -->
		
		@@include('./partial/scroll-top-btn.html')
	</div>
	<!-- END #app -->
	
@@include('./partial/script.html', {"script": [
	"assets/plugins/highlight.js/highlight.min.js",
	"assets/js/demo/highlightjs.demo.js"
]})