@@include('./partial/head.html', {
	"title": "Coming Soon", 
	"css": [
		"assets/plugins/kbw-countdown/dist/css/jquery.countdown.css"
]})
	<!-- BEGIN #app -->
	<div id="app" class="app app-full-height app-without-header">
		<!-- BEGIN coming-soon -->
		<div class="coming-soon">
			<!-- BEGIN coming-soon-content -->
			<div class="coming-soon-content">
				<div class="coming-soon-img mb-4"><img src="assets/img/page/coming-soon.svg" alt="" /></div>
				<div class="coming-soon-timer mb-3">
					<div id="timer"></div>
				</div>
				<h2 class="mb-1">We're coming soon!</h2>
				<p class="mb-0">We are working very hard on the new version of our site.<br /> It will bring a lot of new features. Stay tuned!</p>
			</div>
			<!-- END coming-soon-content -->
		</div>
		<!-- END coming-soon -->
		
		@@include('./partial/scroll-top-btn.html')
	</div>
	<!-- END #app -->
	
@@include('./partial/script.html', {"script": [
	"assets/plugins/kbw-countdown/dist/js/jquery.plugin.js",
	"assets/plugins/kbw-countdown/dist/js/jquery.countdown.js",
	"assets/js/demo/page-coming-soon.demo.js"
]})