@@include('./partial/head.html', {
	"title": "Home Page", 
	"css": [
]})
	<!-- BEGIN #app -->
	<div id="app" class="app">
		@@include('./partial/header.html')
		
		@@include('./partial/sidebar.html', {"homeClass": "active"})
		
		<!-- BEGIN #content -->
		<div id="content" class="app-content">
			<ul class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">BREADCRUMB</a></li>
				<li class="breadcrumb-item active">HOME PAGE</li>
			</ul>
			
			<h1 class="page-header">
				Starter Page <small>page header description goes here...</small>
			</h1>
			
			<p>
				Start build your page here
			</p>
		</div>
		<!-- END #content -->
		@@include('./partial/scroll-top-btn.html')
	</div>
	<!-- END #app -->
	
@@include('./partial/script.html', {"script": [
]})