﻿@{
    ViewData["Title"] = "Search Results";
}

<ul class="breadcrumb">
	<li class="breadcrumb-item"><a href="#">PAGES</a></li>
	<li class="breadcrumb-item active">SEARCH RESULTS</li>
</ul>

<h1 class="page-header">
	Search Results <small>page header description goes here...</small>
</h1>

<!-- BEGIN search-result -->
<div class="search-result">
	<!-- BEGIN search-input -->
	<div class="search-input">
		<form action="#" method="POST" name="search_form">
			<a href="#" class="search-close" data-clear-form="#search">&times;</a>
			<input type="text" class="form-control form-control-lg" value="MacBook" />
		</form>
	</div>
	<!-- END search-input -->
	
	<!-- BEGIN search-tab -->
	<div class="search-tab">
		<div class="search-tab-item"><a href="#" class="search-tab-link active">Explore</a></div>
		<div class="search-tab-item"><a href="#" class="search-tab-link">Accessories</a></div>
		<div class="search-tab-item"><a href="#" class="search-tab-link">Support</a></div>
		<div class="search-tab-item"><a href="#" class="search-tab-link">Store</a></div>
	</div>
	<!-- END search-tab -->
	
	<!-- BEGIN search-result -->
	<div class="search-result">
		<!-- BEGIN search-result-list -->
		<div class="search-result-list">
			<div class="search-result-item">
				<div class="search-result-media">
					<a href="#"><img src="/img/product/product.png" alt="" /></a>
				</div>
				<div class="search-result-content">
					<h3><a href="#">MacBook</a></h3>
					<p>
						MacBook features sixth-generation Intel Core processors, improved graphics performance, and up to 10 hours of battery life.
					</p>
					<a href="#" class="me-4">Learn more</a>
					<a href="#" class="me-4">MacBook Buy</a>
					<a href="#">MacBook Support</a>
				</div>
			</div>
			<div class="search-result-item">
				<div class="search-result-content">
					<h3><a href="#">MacBook - Apple</a></h3>
					<p>
						The incredibly thin and light MacBook features sixth-generation processors, improved graphics performance, and up to 10 hours of battery life....
					</p>
					<a href="#">https://www.apple.com/macbook/</a>
				</div>
			</div>
			<div class="search-result-item">
				<div class="search-result-content">
					<h3><a href="#">MacBook Pro - macOS - Apple</a></h3>
					<p>
						MacBook Pro - macOS - Apple macOS. It’s why there’s nothing else like a Mac. macOS is the operating system that powers every Mac. It lets you do things you simply can’t with other computers. That’s...
					</p>
					<a href="#">https://www.apple.com/macbook-pro/macos/</a>
				</div>
			</div>
			<div class="search-result-item">
				<div class="search-result-content">
					<h3><a href="#">MacBook Air - Design - Apple</a></h3>
					<p>
						MacBook Air is incredibly thin and light. But it’s also powerful, durable, and enjoyable to use. With enough battery life to get you through the day....
					</p>
					<a href="#">https://www.apple.com/macbook-air/design/</a>
				</div>
			</div>
			<div class="search-result-item">
				<div class="search-result-content">
					<h3><a href="#">MacBook Air - Performance - Apple</a></h3>
					<p>
						MacBook Air is packed with powerful components that give you smoother graphics, faster storage, and all-around serious performance....
					</p>
					<a href="#">https://www.apple.com/macbook-air/performance/</a>
				</div>
			</div>
			<div class="search-result-item">
				<div class="search-result-content">
					<h3><a href="#">MacBook Air - Technical Specifications - Apple</a></h3>
					<p>
						View the technical specifications for MacBook Air, see what comes in the box, explore configuration options, and get a list of accessories....
					</p>
					<a href="#">https://www.apple.com/macbook-air/specs/</a>
				</div>
			</div>
			<div class="search-result-item">
				<div class="search-result-content">
					<h3><a href="#">MacBook - Design - Apple</a></h3>
					<p>
						MacBook is the thinnest and lightest Mac notebook ever — each detail refined for maximum efficiency and portability.
					</p>
					<a href="#">https://www.apple.com/macbook/design/</a>
				</div>
			</div>
			<div class="search-result-item">
				<div class="search-result-content">
					<h3><a href="#">MacBook - Technical Specifications - Apple</a></h3>
					<p>
						View the technical specifications for MacBook. See what comes in the box and get a list of accessories.
					</p>
					<a href="#">https://www.apple.com/macbook/specs/</a>
				</div>
			</div>
			<div class="search-result-item">
				<div class="search-result-content">
					<h3><a href="#">MacBook - Wireless - Apple</a></h3>
					<p>
						MacBook is designed to make the most of the wireless world. Share files, browse the web, print, and more — without being tied down to a cable....
					</p>
					<a href="#">https://www.apple.com/macbook/wireless/</a>
				</div>
			</div>
			<div class="search-result-item">
				<div class="search-result-content">
					<h3><a href="#">MacBook - macOS - Apple</a></h3>
					<p>
						MacBook - macOS - Apple macOS. It’s why there’s nothing else like a Mac. macOS is the operating system that powers every Mac. It lets you do things you simply can’t with other computers. That’s...
					</p>
					<a href="#">https://www.apple.com/macbook/macos/</a>
				</div>
			</div>
		</div>
		<!-- END search-result-list -->
		
		<!-- BEGIN pagination -->
		<div class="text-center mt-4 mb-5">
			<div class="pagination justify-content-center">
				<div class="disabled page-item">
					<a href="#" class="page-link">
						<span>«</span>
					</a>
				</div>
				<div class="active page-item"><a href="#" class="page-link">1</a></div>
				<div class="page-item"><a href="#" class="page-link">2</a></div>
				<div class="page-item"><a href="#" class="page-link">3</a></div>
				<div class="page-item"><a href="#" class="page-link">4</a></div>
				<div class="page-item"><a href="#" class="page-link">5</a></div>
				<div class="page-item">
					<a href="#" class="page-link">
						<span>»</span>
					</a>
				</div>
			</div>
		</div>
		<!-- END pagination -->
	</div>
	<!-- END search-result -->
</div>
<!-- END search-result -->